<mat-card>
    <mat-card-title>
        {{product.name}}
    </mat-card-title>
    <mat-card-subtitle>
        {{product.id}}
    </mat-card-subtitle>
    <mat-card-content>
        <p><b>Vendor:</b> {{product.vendor}}</p>
        <p><b>Score:</b> {{score}}</p>
        <mat-tab-group>
            <mat-tab *ngFor="let category of categories" label="{{category}}">
                <i>{{getCategoryTooltip(category)}}</i>
                <mat-chip-list>
                    <mat-chip *ngFor="let tag of categorizedTags[category]" color="accent" matTooltip="{{getTooltip(tag)}}">{{tag}}</mat-chip>
                </mat-chip-list>
            </mat-tab>
        </mat-tab-group>
        
        

    </mat-card-content>
    
</mat-card>
