<div class="holder">
    <h3>Categories</h3>
<mat-accordion>
    <mat-expansion-panel *ngFor="let category of categories | async">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{category.name}}
            </mat-panel-title>
            <mat-panel-description>
                NYI tags in this category
            </mat-panel-description>
        </mat-expansion-panel-header>
        <h4>Description</h4>
        <p>{{category.description}}</p>
        <h4>Tags</h4>
        <i>{{noTags(category.tags)}}</i>
        <mat-chip-list>
            <mat-chip *ngFor="let tag of category.tags">{{tag}}</mat-chip>
        </mat-chip-list>
    </mat-expansion-panel>
</mat-accordion>
</div>