<app-navbar></app-navbar>
<div class="holder">
    <h3>Products</h3>
<mat-accordion>
    <mat-expansion-panel *ngFor="let product of products | async">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{product.name}}
            </mat-panel-title>
            <mat-panel-description>
                {{numTags(product.tags)}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <span>
            <h4>Vendor</h4>
            {{product.vendor}}
        </span>
        <span>
            <h4>Tags</h4>
            <i>{{noTags(product.tags)}}</i>
            <mat-chip-list>
                <mat-chip *ngFor="let tag of product.tags" color="accent" selected>{{tag}}</mat-chip>
            </mat-chip-list>
        </span>
        <mat-action-row>
            <button mat-flat-button color="primary" (click)="preview(product)">Preview</button>
            <button mat-flat-button color="primary" routerLink="/assign-tags/{{product.id}}">Assign Tags</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
</div>