

<div class="datalist">
<h3>Products</h3>    
<table class="pure-table">
    <thead>
        <tr>
            <th>Name<input placeholder="Filter"></th>
            <th>Price</th>
            <th>Vendor</th>
            <th>Tags</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
            
        <tr *ngFor="let product of products | async">
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.vendor }}</td>
                <td>
                    <p *ngFor="let tag of product.tags">{{ tag }}</p>
                </td>
                <td>
                    <button class="pure-button pure-button-primary">Edit</button>
                </td>
        </tr>
        
    </tbody>
</table>
</div>