<mat-toolbar color="primary" class="mat-elevation-z5">
    <span class="brand">EthicCert</span>
    
  
    <a mat-button routerLink="/products" routerLinkActive="active-link">Products</a>
    <a mat-button routerLink="/taglist" routerLinkActive="active-link">Tags</a>
    <a mat-button routerLink="/vendors" routerLinkActive="active-link">Vendors</a>
    <a mat-button routerLink="/categories" routerLinkActive="active-link">Categories</a>
    <span class="fill-space"></span>
    <mat-icon>account_box</mat-icon>
    <span class="userName">{{authService.user.displayName}}</span>
    <button type="button" mat-button (click)="authService.logout()">Logout</button>
    
</mat-toolbar>