<div class="navbar">
    <a href="#" class="brand">EthicCert</a>
    <span>by <a href="https://github.com/mcprog/" target="_blank">mcprog</a></span>
    
</div>
<div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
        <li class="pure-menu-item">
                <a href="#" class="pure-menu-link">Products</a>
            </li>
        <li class="pure-menu-item">
            <a href="#" class="pure-menu-link">Tags</a>
        </li>
        <li class="pure-menu-item">
            <a href="#" class="pure-menu-link">Vendors</a>
        </li>
        <li class="pure-menu-item">
            <a href="#" class="pure-menu-link">Devlog</a>
        </li>
    </ul>
</div>